<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.38:3306/distance_learning</property>
        <property name="hibernate.connection.username">rewoly</property>
        <property name="hibernate.connection.password">Marshmellow89</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.example.Server.db.Admins"/>
        <mapping class="com.example.Server.db.Materials"/>
        <mapping class="com.example.Server.db.Students"/>
        <mapping class="com.example.Server.db.VideoLinks"/>
        <mapping class="com.example.Server.db.MaterialsFor4Category"/>
        <mapping class="com.example.Server.db.MaterialsFor5Category"/>
        <mapping class="com.example.Server.db.MaterialsFor6Category"/>
        <mapping class="com.example.Server.db.MaterialsForTypePistols"/>
        <mapping class="com.example.Server.db.MaterialsForTypePumps"/>
        <mapping class="com.example.Server.db.MaterialsForTypeSmoothBore"/>
        <mapping class="com.example.Server.db.TestSecurityCategory4"/>
        <mapping class="com.example.Server.db.TestSecurityCategory5"/>
        <mapping class="com.example.Server.db.TestSecurityCategory6"/>
    </session-factory>
</hibernate-configuration>